{% extends 'base.html' %}
{% load static %}



{% block title %}
<title>Register Page</title>
{% endblock title %}


{% block css %}
<style>
    #form-div {
        width: 50%;
        border-radius: 8px;
    }
</style>
{% endblock css %}


{% block body %}
<div class="container my-5">

    <!-- heading div  -->

    <div class="container text-center bg-secondary text-light p-2 rounded-3 shadow">
        <h1 class="display-6">Register Page</h1>
    </div>

    <!-- form Div -->
    <div class="container my-5 p-5 shadow " id="form-div">

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            
            {% for fm in forms %}
            <div class="mb-3">
                {{fm.label_tag}}
                {{fm}}
                <span style="color:red">{{fm.errors|striptags }}</span>
                
            </div>
            {% endfor %}

            <div class="mb-3">
                <input type="submit" value="Register" class="btn btn-success">
            </div>


        </form>



    </div>


</div>

{% endblock body %}